<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="/newMovie.css">

<div id="newForm" class="ui main text container segment">
    
    <div style="color: #b3b3b3" class="ui large header">Edit: <%=movie.title%></div>
    
    <form class="ui form" action="/movies/<%=movie._id%>?_method=PUT" method="POST">
        <div class="field">
            <label style="color: #b3b3b3">Title</label>
            <div class="ui inverted transparent input">
                    <input style="color: #b3b3b3" class="inverted" type="text" name="movie[title]" value="<%=movie.title%>">
            </div>
        </div>
        
        <div class="field">
            <label style="color: #b3b3b3">Image</label>
            <div class="ui inverted transparent input">
                    <input style="color: #b3b3b3" class="inverted" type="text" name="movie[image]" value="<%=movie.image%>">
            </div>
        </div>
                
        <div class="field">
            <label style="color: #b3b3b3">Genre</label>
            <div class="ui inverted transparent input">
                    <input style="color: #b3b3b3" class="inverted" type="text" name="movie[genre]" value="<%=movie.genre%>">
            </div>
        </div>
        
        <div class="two fields">
            <div class="field">
                <label style="color: #b3b3b3">Rating</label>
                <div class="ui inverted transparent input">
                        <input style="color: #b3b3b3" class="inverted" type="text" name="movie[rating]" value="<%=movie.rating%>">
                </div>
            </div>
            
            <div class="field">
                <label style="color: #b3b3b3">Director</label>
                <div class="ui inverted transparent input">
                        <input style="color: #b3b3b3" class="inverted" type="text" name="movie[director]" value="<%=movie.director%>">
                </div>
            </div>
        </div>
        
        <div class="field">
            <label style="color: #b3b3b3">Path To Movie</label>
            <div class="ui inverted transparent input">
                    <input style="color: #b3b3b3" class="inverted" type="text" name="movie[watchPath]" value="<%=movie.watchPath%>">
            </div>
        </div>
        
        <div class="field">
            <label style="color: #b3b3b3">Plot</label>
            <div class="ui inverted transparent input">
                    <textarea id="plotText" name="movie[plot]"><%=movie.plot%></textarea>
            </div>
        </div>
        <input class="ui violet inverted button" type="submit">
    </form>
</div>

<% include ../partials/footer %>